/*!*********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./src/components/DeleteConfirmationPopup.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************/
.DeleteConfirmationPopup_popupOverlay__cMtZD {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .DeleteConfirmationPopup_popup__77ZBJ {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 300px;
  }
  
  .DeleteConfirmationPopup_popupButtons__1fynH {
    margin-top: 20px;
  }
  
  .DeleteConfirmationPopup_confirmButton__TbVcn,
  .DeleteConfirmationPopup_cancelButton__apZ9y {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .DeleteConfirmationPopup_confirmButton__TbVcn {
    background-color: #d9534f;
    color: white;
  }
  
  .DeleteConfirmationPopup_cancelButton__apZ9y {
    background-color: #5bc0de;
    color: white;
  }
  
/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./src/app/books/BooksPage.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.BooksPage_booksContainer__W097Z {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.BooksPage_searchInput__Ed9QC {
  padding: 8px;
  margin-bottom: 20px;
  width: 100%;
}

.BooksPage_addButton__HNH_l {
  background-color: #0070f3;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.BooksPage_addButton__HNH_l:hover {
  background-color: #005bb5;
}

.BooksPage_booksBoxes__LP49q {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-end;
  direction: rtl;  /* Aligner de droite à gauche */
}

.BooksPage_bookBox__xZ0Ym {
  background-color: #f4f4f4;
  border-radius: 8px;
  width: 250px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.BooksPage_bookImage__g7Vjt {
  width: 100%;
  height: 150px;
  margin-bottom: 10px;
}

.BooksPage_bookImg__USvwa {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.BooksPage_bookTitle__pdX_M {
  font-weight: bold;
  color: #333;  /* Utilisation d'une couleur de texte normale */
  text-decoration: none;  /* Pas de soulignement */
  display: block;
  margin-bottom: 5px;
  text-align: center;  /* Centrer le texte horizontalement */
  width: 100%;  /* S'assurer que l'élément prend toute la largeur disponible */
}


.BooksPage_bookAuthor__jxsZU {
  font-weight: bold;
  color: #555;  /* Utilisation d'une couleur de texte normale */
  text-decoration: none;  /* Pas de soulignement */
  display: block;
  margin-bottom: 5px;
  text-align: center;  /* Centrer le texte horizontalement */
  width: 100%;  /* S'assurer que l'élément prend toute la largeur disponible */
}

.BooksPage_deleteButton__j5UJN {
  background-color: #e74c3c;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.BooksPage_deleteButton__j5UJN:hover {
  background-color: #c0392b;
}

